#debug or release
RUN_MODE = debug

[app]
PAGE_SIZE = 10
JWT_SECRET = "23347$040412"
IDENTITY_KEY = idname
LOG_PATH = ../runtime/debug.log
MaxSize = 200
MaxBackups = 10
MaxAge = 7
Level = debug

[server]
HTTP_PORT = 8000
READ_TIMEOUT = 60
WRITE_TIMEOUT = 60

[database]
TYPE = mysql
USER = root
PASSWORD = root
HOST = 127.0.0.1
PORT = 3306
NAME = gin-vue
TABLE_PREFIX = go_